body {
  background-image: url("./static/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#body {
  color: white;
}

#themeHeading {
  font-size: 30px;
  margin-top: 18%;
  user-select: none;
}

#objective {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  background-color: white;
  left: 0;
  height: 500px;
  width: 40%;
  color: black;
  margin-top: 50%;
  float: left;
  border-radius: 15px;
  margin-left: 15px;
}
ul {
  margin: 0;
  padding: 0;
  float: left;
  white-space: normal;
}
li {
  margin: 0;
  padding: 0;
  white-space: normal;
}

#fllowLink {
  float: right;
  font-size: 32px;
  color: white;
}
#learnMoreBtn {
  float: right;
  left: 0;
  margin-right: 20%;
  font-size: 32px;
}

@media screen and (max-width: 720px) {
  #objective {
    width: 100%;
    margin-left: 0px;
  }
}
